fieldset {
	width: 350px;
	font-family: 'Oswald', sans-serif;
	color: black; 
	background-color: lightblue; 
}

#shoppingcart {
	position: absolute; 
	left: 800px; 
	height: 500px; 
	width: 400px; 
	top: 10px; 
	background-color: lightgrey; 
}

#fieldsetBaumkrone {
	position: absolute;
	left: 400px;
	top: 10px;
}

#fieldsetPost {
	position: absolute;
	left: 400px; 
	top: 100px;
}

#Data {
	position: absolute; 
	left: 400px; 
	top: 215px; 
}