fieldset {
	font-family: 'Roboto Slab', serif;
	width: 330px; 
	background-color: #e01005; 
	border-radius: 10px; 
}

input {
	border-radius: 6px; 
	border: #f0fffe;
	width: 70px;
	height: 20px; 
}

#Cart {
	position: absolute;
	left: 500px; 
	top: 80px; 
	width: 300px; 
	height: 500px;	
	border-radius: 10px; 
}

body {
	background-color: #c0c0c0;
}